@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=M+PLUS+2:100,200,300,regular,500,600,700,800,900);

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "M PLUS 2", Josefin Sans, sans-serif Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f0f0f0;
  background-color: #1e212a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-font: "M PLUS 2", Josefin Sans, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

.bodyCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  position: relative;
  min-height: 100dvh;
}

.bodyCont.darkened{
  filter: brightness(0.7);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333333;
    background-color: #fffff5;
  }
}
