@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=M+PLUS+2:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-font: "M PLUS 2", Josefin Sans, sans-serif;
  --secondary-font: "Open Sans", Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  color: #f0f0f0 !important;
  background-color: #242424 !important;
}

.bodyCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  position: relative;
  min-height: 100dvh;
  font-family: "M PLUS 2", Josefin Sans, sans-serif Inter, system-ui, Avenir,
  Helvetica, Arial, sans-serif;
}

.bodyCont.darkened{
  filter: brightness(0.7);
}