@import url(https://fonts.googleapis.com/css?family=Jockey+One:regular);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

header {
  width: 100%;
  height: 60px;
  background-color: #ff5733;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f0f0f0;
  font-family: Jockey One, sans-serif;
  position: sticky;
  top: 0;
  padding: 0 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 500;
}

header.transparent {
  background-color: transparent;
  color: #f0f0f0;
  box-shadow: none;
}

header button {
  background-color: #ff5733;
  border: none;
  color: #f0f0f0;
  font-size: 1.1rem;
  font-family: Josefin Sans, sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

header button:hover {
  background-color: #ff8c66;
}

header a {
  text-decoration: none;
}

.logo {
  cursor: pointer;
  color: #f0f0f0;
  text-decoration: none;
}

.logo.big {
  font-size: 1.5rem;
}

.userImg {
  height: 75%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #333333;
  object-fit: contain;
  cursor: pointer;
}

.dropDown {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 320px;
  height: 400px;
  background-color: #333333;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
  transition: top 0.2s ease-out, visibility 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 200;
  overflow: hidden;
}

.dropDown.show {
  visibility: visible;
  top: 60px;
  opacity: 1;
}

.dropDown a {
  text-decoration: none;
}

.dropDown button {
  width: 100%;
  height: 50px;
  background-color: #333333;
  border: none;
  border-radius: 4px;
  color: #f0f0f0;
  font-size: 1.1rem;
  font-family: Josefin Sans, sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  transition: 0.1s ease-in-out;
}

.dropDown button:hover {
  background-color: #4f4f4f;
}

.dropDown .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  .dropDown {
    background-color: #fffff5;
  }

  .dropDown button {
    background-color: #fffff5;
    color: #333333;
  }

  .dropDown button:hover {
    background-color: #d3d3d3;
  }

  header button:hover {
    background-color: #db3d1a;
  }
}
