@import url(https://fonts.googleapis.com/css?family=Jockey+One:regular);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=M+PLUS+2:100,200,300,regular,500,600,700,800,900);

header {
  width: 100%;
  height: 60px;
  background-color: #ff5733;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f0f0f0;
  font-family: Jockey One, sans-serif;
  position: sticky;
  top: 0;
  padding: 0 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 500;
}

header.transparent {
  background-color: transparent;
  color: #f0f0f0;
  box-shadow: none;
}

header button {
  background-color: #ff5733;
  border: none;
  color: #f0f0f0;
  font-size: 1.1rem;
  font-family: Josefin Sans, sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

header button:hover {
  background-color: #ff8c66;
}

header a {
  text-decoration: none;
}

.logo {
  cursor: pointer;
  color: #f0f0f0;
  text-decoration: none;
}

.logo.big {
  font-size: 1.5rem;
}

.userImg {
  height: 75%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #333333;
  object-fit: cover;
  cursor: pointer;
}

.loadingPfp {
  height: 75%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #333333;
}

.dropDown {
  position: fixed;
  top: 0px;
  right: 40px;
  width: 320px;
  height: fit-content;
  background-color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(255, 255, 255, 0.1);
  border-radius: 0 0 8px 8px;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: top 0.2s ease-out, visibility 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 200;
  overflow: hidden;
}

.dropDown:focus {
  outline: none;
}

.dropDown.show {
  visibility: visible;
  top: 60px;
  opacity: 1;
}

.dropDown a {
  text-decoration: none;
}

.dropDown .upperQuadrant,
.dropDown .lowerQuadrant {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropDown .upperQuadrant {
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.dropDown button {
  width: 100%;
  height: 50px;
  background-color: #333333;
  border: none;
  border-radius: 4px;
  color: #f0f0f0;
  font-size: 1rem;
  font-family: "M PLUS 2", Josefin Sans, sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  transition: 0.1s ease-in-out;
}

.dropDown a {
  color: #f0f0f0;
  font-size: 1rem;
  font-family: "M PLUS 2", Josefin Sans, sans-serif;
  font-weight: bold;
  margin: 0;
  width: 100%;
}

.dropDown button:hover {
  background-color: #3d3d3d;
}

.dropDown .buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.profileShowcase .pfp {
  width: 42px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.profileShowcase {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profileShowcase .userName {
  font-size: 1rem;
  font-family: "M PLUS 2", Josefin Sans, sans-serif;
  font-weight: bold;
}

.greyCircle {
  background-color: #484848;
  padding: 6px;
  aspect-ratio: 1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.feedbackWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.feedbackWindow.show {
  display: flex;
}

.feedbackBox {
  width: fit-content;
  min-width: 500px;
  height: fit-content;
  background: linear-gradient(0deg, #242424, #303030);
  border-radius: 8px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  position: relative;
  z-index: 1001;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.1);
}

.feedbackBox h2 {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1.3rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 20px;
  margin: 0;
}

.feedback-close-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}

.back-button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 85%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.1s ease-in-out;
  z-index: -1;
}

.back-button:hover::before {
  background-color: #363636;
}

.feedback-header {
  width: 100%;
  margin: 50px auto 0 auto;
  position: relative;
}
.feedback-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #484848;
  border-radius: 2px;
}

.feedbackBox .icon-close-button:hover {
  fill: #434343;
}

.feedback-buttons-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  padding: 0 10px;
}

.feedback-content {
  opacity: 1;
  transition: 0.1s ease-out;
}

.feedback-content.fade {
  opacity: 0;
}

.feedback-button {
  flex: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: 0.1s ease-in-out;
  color: #ffffff;
  font-family: var(--secondary-font);
  font-weight: 400;
  border-radius: 6px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
}

.feedback-button:hover {
  background-color: #343434;
}

.feedback-button .icon-wrapper {
  background-color: #303030;
  padding: 15px;
  aspect-ratio: 1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.feedback-button .text {
  font-size: 1.1rem;
}

@media (prefers-color-scheme: light) {
  .dropDown {
    background-color: #fffff5;
  }

  .dropDown button {
    background-color: #fffff5;
    color: #333333;
  }

  .dropDown button:hover {
    background-color: #d3d3d3;
  }

  header button:hover {
    background-color: #db3d1a;
  }
}
