@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

.content {
  position: relative;
  width: 100%;
  height: calc(100dvh - 60px);
  overflow: hidden;
}

.homeBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(6px) brightness(0.5);
    z-index: -1;
}

.bg-container {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.bg-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none; /* Allow clicking through */
  mix-blend-mode: multiply; /* Optionally blend with the image */
}

.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: calc(50% - 30px);
  translate: -50% -50%;
}

#titleText {
  font-family: Josefin Sans, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  position: relative;
  margin: 0;
}

#titleText::after {
  content: "";
  position: absolute;
  width: 20%;
  left: 50%;
  bottom: -10px;
  translate: -50%;
  height: 2px;
  background-color: #ff5733;
  margin: 10px 0;
}

.title a {
  margin: 0;
  color: #ff5733;
  text-decoration: none;
  transition: 0.1s ease;
  font-family: Josefin Sans, sans-serif;
  font-weight: light;
  font-size: 1.2rem;
}

.title a:hover {
  color: #ff8c66;
}

@media (prefers-color-scheme: light) {
  .title a:hover {
    color: #c70000;
  }

  .homeBackground{
    filter: blur(6px) brightness(2);
  }
}
